[Unit]
Description=api-+-template-+ daemon
After=network.target

[Service]
# the specific user that our service will run as
User=flask
StartLimitInterval=11s
RestartSec=2
StartLimitBurst=5
Restart=on-failure

## change path !!!!
WorkingDirectory=/home/flask/api/+-template-+
ExecStart=/bin/bash run.sh

[Install]
WantedBy=multi-user.target