[Unit]
Description=Template api daemon
Requires=api-+-template-+.socket
After=network.target

[Service]
PermissionsStartOnly = true
# the specific user that our service will run as
User=flask
Group=www-data

## change path !!!!
WorkingDirectory=/home/flask/api/+-template-+
ExecStart=/bin/bash run.sh

[Install]
WantedBy=multi-user.target