[Unit]
Description=api-template socket

[Socket]
# Change name template -> ??? !!!
ListenStream=/home/flask/api/socket/template.sock
User=flask
Group=www-data

[Install]
WantedBy=sockets.target